@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

$pink-theme: #df07d0;
$primary: $pink-theme;

$icon-width: 20px;


@import "../../node_modules/bootstrap/scss/bootstrap.scss";


